<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Prediction Results</title>
</head>
<body>

<h1>Predictions</h1>
{% for result in results %}
    <div>
        <p><strong>Result:</strong> {{ result[0] }}</p>
        <p><strong>Confidence:</strong> {{ result[1] }}%</p>
        <img src="{{ result[2] }}" alt="Image {{ loop.index }}">
    </div>
{% endfor %}

</body>
</html>
